# Dependency folder
node_modules/
backend/node_modules/
frontend/node_modules/

# Android/iOS build files
frontend/android/build/
frontend/android/.gradle/
frontend/ios/build/
frontend/ios/Pods/

# Environment variables
.env
backend/.env